:root {
  --font-family: "Fira Sans Condensed", sans-serif;
  --second-family: "Oswald", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  background: transparent;
  border: 1px solid #fff;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background: #545050;
}

.search-form__submit-button {
  max-width: 194px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  max-width: 389px;
  width: 100%;
  margin: 0 7px 3px 3px;
  padding: 5px 0px 5px 0px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  padding: 0 30px;
  gap: 30px;
  align-items: flex-end;
  width: 1200px;
}

/*-----------------SECTION  result --------------------*/

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 19px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  grid-template-rows: 54px;
  gap: 40px;
  align-items: flex-start;
  padding-bottom: 2px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
}

.search-form__fieldset-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 2px;
  /* паддинг по макету 2px */
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: " ";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.search-form__textfield {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background: transparent;
  appearance: none;
  text-transform: none;

  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  border-left: none;
  border-right: none;

  padding-top: 2.5px;
  padding-left: 2.5px;
  padding-left: 0;

  width: 225px;
  height: 27px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__textfield::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

/*-----------------SECTION-END  result--------------------*/

/*-----------------SECTION  content-details--------------------*/

.content__list-container {
  position: relative;
  height: 298px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__details {
  max-width: 399px;
  height: 534px;
  width: 100%;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 193px;
  // ограничил ширину, иначе не появляется троеточие в ЗЕЛЕНОГРАД... (как в макете)
}

.content__video-card-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
  color: #fff;
  margin-top: 6px;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

/*-----------------SECTION-END  content-details--------------------*/
